@font-face {
    font-family: starTrek;
	color: yellow;
    src: url(FEC.TTF);
}

.startMenuContainer {
    position: relative;
    text-align: center;
}

.startMenuBtn {
	margin: 0;
	padding: 0;
}

body { 
    background-image: star-trek-login-background.jpg;
	background-size: cover;
}

#loginForm {
	margin: 0;
	padding: 0;
	font-size: 64px;
	text-align: center;
	color: yellow;
	font-family: starTrek;
}

#loginForm input:not([type='button']) {
	height: 48px;
	min-width: 300px;
	margin: 0;
	padding: 0;
}

#loginForm input[type='submit'] {
	font-size: 32px;
	background-color: lightgreen;
	border-radius: 25px;
}

.appName {
	margin: 0;
	padding: 0;
    text-align: center;
    color: yellow;
	font-size: 48px;
    font-family: courier;
}

#homepageLogo {
	margin: 0;
	padding: 0;
    text-align: center;
    text-decoration: underline;
	font-size: 124px;
	font-weight: bold;
    color: yellow;
    font-family: starTrek;
}

.adminLogin {
	text-align: center;
	font-size: 14px;
	background-color: red;
}

img {
}

.cardBox img {
	margin: 15px;
	height: 200px;
}

.mainBtnContainer button{
	border-radius: 35px;
	font-size: 48px;
	font-weight: bold;
	max-width: 250px;
	max-height: 200px;
    text-align: center;
	margin: 50px;
}

.topMenuBanner {
	background-color: #DC143C;
	margin: 15px;
}



.returnToMain button{
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	float: right;
	
}