@font-face {
    font-family: starTrek;
	color: yellow;
    src: url(FEC.TTF);
}

.startMenuContainer {
    position: relative;
    text-align: center;
}

body {
	background-color: black;
}

#loginForm {
	font-size: 64px;
	text-align: center;
	color: yellow;
	font-family: starTrek;
}

#loginForm input:not([type='button']) {
	height: 48px;
	min-width: 300px;
	margin: 0;
	padding: 0;
}

#loginForm input[type='submit'] {
	font-size: 32px;
	background-color: red;
	border-radius: 25px;
}

button {
	border-radius: 35px;
}

.appName {
	margin: 0;
	padding: 0;
    text-align: center;
    color: yellow;
	font-size: 48px;
    font-family: courier;
}

#homepageLogo {
	margin: 0;
	padding: 0;
    text-align: center;
    text-decoration: underline;
	font-size: 124px;
	font-weight: bold;
    color: yellow;
    font-family: starTrek;
}

.adminLogin {
	position: absolute;
	right: 0;
}

.mainBtnContainer button{
	font-size: 48px;
	font-weight: bold;
	max-width: 250px;
	max-height: 200px;
    text-align: center;
	margin: 50px;
}